<div class="p-2">
    <p-card>
        <div class="flex">
            <h2 class="traco flex-1">Abrangências</h2>
        </div>
        <div class="mr-3 ml-3">
            <p-table #dt2
                    [value]="coverages"
                    [globalFilterFields]="['company.name', 'company.cnpj']">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <input
                            pInputText
                            type="text"
                            (input)="dt2.filterGlobal($event.target.value, 'contains')"
                            placeholder="Pesquisar palavra-chave" />
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Empresa</th>
                        <th>Tipo de serviço</th>
                        <th>Localidades</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-coverage>
                    <tr>
                        <td>{{coverage.company.name}}</td>
                        <td>{{coverage.serviceType.name}}</td>
                        <td>
                            <ul>
                                <li *ngFor="let location of coverage.locations">{{location.name}}</li>
                            </ul>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-card>
</div>
<div class="p-2">
    <p-card>
        <div class="flex">
            <h2 class="traco flex-1">Configurar abrangência</h2>
        </div>
        <div class="grid grid-nogutter pb-0">
            <div class="col-4 pr-2 pl-2">
                <p-dropdown
                    [options]="companies"
                    [(ngModel)]="coverage.company"
                    [filter]="true"
                    [showClear]="true"
                    (onChange)="selectLocations()"
                    optionLabel="name"
                    placeholder="Selecione uma empresa"
                    class="full-width">
                </p-dropdown>
            </div>
            <div class="col-4 pr-2 pl-2">
                <p-dropdown
                    [options]="serviceTypes"
                    [(ngModel)]="coverage.serviceType"
                    [filter]="true"
                    [showClear]="true"
                    (onChange)="selectLocations()"
                    optionLabel="name"
                    placeholder="Selecione um tipo de serviço"
                    class="full-width">
                </p-dropdown>
            </div>
            <div class="col-4 pr-2 pl-2">
                <p-multiSelect
                    [options]="locations"
                    [(ngModel)]="coverage.locations"
                    [filter]="true"
                    optionLabel="name"
                    placeholder="Selecione as localidades"
                    class="full-width">
                </p-multiSelect>
            </div>

            <div class="col-2 md:col-4 md:col-offset-8 lg:col-2 lg:col-offset-10 col-offset-10 pt-5 pr-2">
                <button pButton type="button" icon="pi pi-check" class="p-button-rounded p-button-warning w-full"
                    label="Aplicar" (click)="apply()"></button>
            </div>
        </div>
    </p-card>
</div>