<div class="grid grid-nogutter">
    <div class="col-12 md:col-6 lg:col-3 p-2">
        <div class="card-estatistico card-reclamacoes">
            <i class="icone pi pi-file"></i>
            <div class="titulo">Reclamações</div>
            <div class="quantidade">{{reclamacoesTotal}}</div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3 p-2">
        <div class="card-estatistico card-respondidas">
            <i class="icone pi pi-envelope"></i>
            <div class="titulo">Respondidas</div>
            <div class="quantidade">{{reclamacoesRespondidas}}</div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3 p-2">
        <div class="card-estatistico card-sem-resposta">
            <i class="icone pi pi-thumbs-down"></i>
            <div class="titulo">Sem Resposta</div>
            <div class="quantidade">{{reclamacoesSemResposta}}</div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3 p-2">
        <div class="card-estatistico card-resolvidas">
            <i class="icone pi pi-check-square"></i>
            <div class="titulo">Resolvidas</div>
            <div class="quantidade">{{reclamacoesResolvidas}}</div>
        </div>
    </div>
</div>
<div class="grid grid-nogutter card-estatistico m-2">
    <div class="col-12 mb-2">
        <h2 class="traco">Desempenho</h2>
    </div>
    <div class="col-12 md:col-6 p-2">
        <h3>Reclamações Resolvidas</h3>
        <app-grafico-barra *ngIf="graficoBarraResolvidas" [configuracaoGrafico]="graficoBarraResolvidas"></app-grafico-barra>
        <p *ngIf="!graficoBarraResolvidas">Sem dados para mostrar atualmente.</p>
    </div>
    <div class="col-12 md:col-6 p-2">
        <h3>Reclamações Respondidas</h3>
        <app-grafico-barra *ngIf="graficoBarraRespondidas" [configuracaoGrafico]="graficoBarraRespondidas"></app-grafico-barra>
        <p *ngIf="!graficoBarraRespondidas">Sem dados para mostrar atualmente.</p>
    </div>
</div>
