.titulo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #888888;
}

.subtitulo {
    font-size: 1.25rem;
    font-weight: bold;
    color: #888888;
}

.container-grafico {
    padding: 7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
