<div class="p-2">
    <p-card>
        <div class="flex">
            <h2 class="traco flex-1">Reclamações</h2>
        </div>
        <p-tabView (onChange)="filterComplaints($event.index)">
            <p-tabPanel header="Últimas">
                <app-complaints-table [complaints]="complaints"></app-complaints-table>
            </p-tabPanel>
            <p-tabPanel header="Não respondidas">
                <app-complaints-table [complaints]="filteredComplaints"></app-complaints-table>
            </p-tabPanel>
            <p-tabPanel header="Respondidas">
                <app-complaints-table [complaints]="filteredComplaints"></app-complaints-table>
            </p-tabPanel>
        </p-tabView>
    </p-card>
</div>
