<p-table [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [rows]="10" [showCurrentPageReport]="true"
         [value]="reclamations" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} resultados.">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Tipo</th>
            <th>Subtipo</th>
            <th>Descrição</th>
            <th>Data</th>
            <th *ngIf="showRating">Avaliação</th>
            <th>Ações</th>
        </tr>
    </ng-template>
    <ng-template let-reclamation pTemplate="body">
        <tr>
            <td><img [src]="reclamation.photo" class="miniatura-reclamacao"/></td>
            <td>{{ reclamation.serviceName }}</td>
            <td>{{ reclamation.serviceSubtypeName }}</td>
            <td>{{ reclamation.description | maxLength:256:'...' }}</td>
            <td>{{ reclamation.createdAt | date:"dd/MM/yyyy" }}</td>
            <td *ngIf="showRating">
                <p-rating [(ngModel)]="reclamation.response.evaluation.rating" [cancel]="false"
                          [readonly]="true"></p-rating>
            </td>
            <td>
                <button (click)="showLocation(reclamation)"
                        class="p-button-rounded p-button-text p-button-warning" icon="pi pi-map" pButton
                        pTooltip="Visualizar no Mapa" tooltipPosition="top"
                        type="button "></button>
                <button (click)="edit(reclamation)" *ngIf="!showRating"
                        class="p-button-rounded p-button-text p-button-warning"
                        icon="pi pi-pencil"
                        pButton pTooltip="Acessar Detalhes" tooltipPosition="top"
                        type="button"></button>
                <button (click)="edit(reclamation, false)"
                        class="p-button-rounded p-button-text p-button-warning"
                        icon="pi pi-eye"
                        pButton pTooltip="Visualizar Detalhes" tooltipPosition="top"
                        type="button"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<app-map></app-map>