<div class="p-2">
    <p-card>
        <div class="flex">
            <h2 class="traco flex-1">Reclamações</h2>
        </div>
        <p-tabView (onChange)="filterReclamations($event.index)">
            <p-tabPanel header="Últimas">
                <app-reclamacoes-table [reclamations]="reclamations"></app-reclamacoes-table>
            </p-tabPanel>
            <p-tabPanel header="Não respondidas">
                <app-reclamacoes-table [reclamations]="filteredReclamations"></app-reclamacoes-table>
            </p-tabPanel>
            <p-tabPanel header="Respondidas">
                <app-reclamacoes-table [reclamations]="filteredReclamations"></app-reclamacoes-table>
            </p-tabPanel>
        </p-tabView>
    </p-card>
</div>
<p-dialog header="Localização" [(visible)]="modalLocalizacaoVisivel" [modal]="true" [draggable]="false" [resizable]="false">
    <google-map width="640px" height="480px" [center]="centralizarMapa" [zoom]="ampliacaoMapa" [options]="configuracaoMapa">
        <map-marker [position]="centralizarMapa"></map-marker>
    </google-map>
</p-dialog>
