<p-table [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [rows]="10" [showCurrentPageReport]="true"
         [value]="complaints" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} resultados.">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Tipo</th>
            <th>Subtipo</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </ng-template>
    <ng-template let-complaint pTemplate="body">
        <tr>
            <td><img [src]="complaint.photo" class="miniatura-reclamacao"/></td>
            <td>{{ complaint.serviceName }}</td>
            <td>{{ complaint.serviceSubtypeName }}</td>
            <td>{{ complaint.description }}</td>
            <td>{{ complaint.createdAt | date:"dd/MM/yyyy" }}</td>
            <td>
                <button (click)="mostrarLocalizacao(complaint)" class="p-button-rounded p-button-text p-button-warning"
                        icon="pi pi-map" pButton
                        pTooltip="Visualizar no Mapa" tooltipPosition="top"
                        type="button "></button>
                <button (click)="editarReclamacao(complaint)" class="p-button-rounded p-button-text p-button-warning"
                        icon="pi pi-pencil"
                        pButton pTooltip="Acessar Detalhes" tooltipPosition="top"
                        type="button"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-dialog [(visible)]="modalLocalizacaoVisivel" [draggable]="false" [modal]="true" [resizable]="false"
          header="Localização">
    <google-map [center]="centralizarMapa" [mapTypeId]="mapType" [options]="configuracaoMapa" [zoom]="ampliacaoMapa"
                height="480px" width="640px">
        <map-marker [position]="centralizarMapa"></map-marker>
    </google-map>
    <div>
        <label>Tipo de Mapa:</label>
        <select [(ngModel)]="mapType">
            <option value="roadmap">Estrada</option>
            <option value="satellite">Satélite</option>
            <option value="hybrid">Híbrido</option>
            <option value="terrain">Terreno</option>
        </select>
    </div>
</p-dialog>