<div class="menu {{esconderMenuMobile ? 'escondido' : ''}}">
    <h3 class="traco">CANAL DO CIDADÃO</h3>
    <button (click)="aoEsconderMenu.emit()" class="p-button-warning w-full mb-2 botao-esconder-menu" icon="pi pi-times"
            label="Fechar"
            pButton></button>
    <div class="container-foto-orgao mb-2">
        <img *ngIf="company" [src]="company.localImage" class="foto-orgao"/>
    </div>
    <h4 class="titulo-orgao">{{ company.name }}</h4>
    <h5 class="role-orgao">{{ company.role }}</h5>
    <div (click)="selecionarOpcao(opcao)" *ngFor="let opcao of opcoes" [ngClass]="{'opcao-selecionada': opcao === opcaoSelecionada}"
         class="opcao-menu">
        <i class="icone-opcao {{opcao.icon}}"></i>
        <div>{{ opcao.label }}</div>
    </div>
</div>
<p-toast></p-toast>
