<div class="menu {{esconderMenuMobile ? 'escondido' : ''}}">
    <h3 class="traco">CANAL DO CIDADÃO</h3>
    <button pButton label="Fechar" icon="pi pi-times" class="p-button-warning w-full mb-2 botao-esconder-menu" (click)="aoEsconderMenu.emit()"></button>
    <div class="container-foto-orgao mb-2">
        <img *ngIf="orgao" class="foto-orgao" [src]="orgao.localImagem" />
    </div>
    <h4 class="titulo-orgao">{{orgao.titulo}}</h4>
    <h5 class="role-orgao">{{orgao.role}}</h5>
    <div class="opcao-menu" *ngFor="let opcao of opcoes" (click)="selecionarOpcao(opcao)">
        <i class="icone-opcao {{opcao.icon}}"></i>
        <div>{{opcao.label}}</div>
    </div>
</div>
<p-toast></p-toast>
