<div class="p-2">
    <p-card>
        <div class="flex">
            <h2 class="traco flex-1">Órgãos</h2>
        </div>
        <div class="grid grid-nogutter pl-2 pr-2">
            <div class="col-2 md:col-4 md:col-offset-8 lg:col-2 lg:col-offset-10 col-offset-10 pt-0 pb-3 pr-2">
                <button (click)="addCompany()" class="p-button-rounded p-button-warning w-full" icon="pi pi-user-plus" label="Incluir empresa"
                        pButton type="button"></button>
            </div>
        </div>
        <div class="mr-3 ml-3">
            <p-table [value]="filteredCompanies" dataKey="id" editMode="row">
                <ng-template pTemplate="header">
                    <tr>
                        <th>CNPJ</th>
                        <th>Nome</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template let-company let-editing="editing" let-ri="rowIndex" pTemplate="body">
                    <tr [pEditableRow]="company">
                        <td>
                            <p-cellEditor>
                                <ng-template *ngIf="!company.id" pTemplate="input">
                                    <p-inputMask (onBlur)="getInformationByCnpj(company)" [(ngModel)]="company.cnpj" mask="99.999.999/9999-99"
                                                 required unmask="true"></p-inputMask>
                                </ng-template>
                                <ng-template *ngIf="!!company.id" pTemplate="input">
                                    {{ company.cnpj | cnpj }}
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ company.cnpj | cnpj }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input [(ngModel)]="company.name" pInputText required type="text">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ company.name }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <div class="flex align-items-center justify-content-center gap-1">
                                <button (click)="onRowEditInit(company)" *ngIf="!editing" class="p-button-rounded p-button-warning ml-2" icon="pi pi-pencil" pButton
                                        pInitEditableRow
                                        type="button"></button>
                                <button (click)="removeCompany(company)" *ngIf="!editing" class="p-button-rounded p-button-danger ml-1" icon="pi pi-trash"
                                        pButton
                                        type="button"></button>
                                <button (click)="onRowEditSave(company)" *ngIf="editing" class="p-button-rounded p-button-success ml-2 mr-2" icon="pi pi-check" pButton
                                        pSaveEditableRow
                                        type="button"></button>
                                <button (click)="onRowEditCancel(company, ri)" *ngIf="editing" class="p-button-rounded p-button-danger" icon="pi pi-times" pButton
                                        pCancelEditableRow
                                        type="button"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-card>
</div>