<div class="p-2">
    <p-card class="flex mb-2">
        <div class="flex">
            <h2 class="traco flex-1">Empresa</h2>
        </div>
        <form [formGroup]="companyForm" class="pl-2 pr-2">
            <div class="grid grid-nogutter pb-0">
                <div class="col-12 md:col-6 lg:col-4 pr-2 pl-2">
                    <label class="block mb-1" for="cnpj">CNPJ</label>
                    <input class="mb-3 w-full" disabled formControlName="cnpj" id="cnpj" pInputText type="number"/>
                </div>
                <div class="col-12 md:col-6 lg:col-4 pr-2 pl-2">
                    <label class="block mb-1" for="name">Nome fantasia</label>
                    <input class="mb-3 w-full" disabled formControlName="name" id="name" pInputText type="text"/>
                </div>
                <div class="col-12 md:col-6 lg:col-4 pr-2 pl-2">
                    <label class="block mb-1" for="email">E-mail</label>
                    <input class="mb-3 w-full" disabled formControlName="email" id="email" pInputText type="email"/>
                </div>
                <div class="col-12 md:col-6 lg:col-4 pr-2 pl-2">
                    <label class="block mb-1" for="site">Site</label>
                    <input class="mb-4 w-full" formControlName="site" id="site" pInputText type="text"/>
                </div>
                <div class="col-12 md:col-6 lg:col-4 pr-2 pl-2">
                    <label class="block mb-1" for="phone">Telefone</label>
                    <input class="mb-4 w-full" formControlName="phone" id="phone" pInputText type="tel"/>
                </div>
                <div class="col-12 md:col-6 lg:col-4 pr-2 pl-2">
                    <label class="block mb-1" for="sac-phone">Telefone SAC</label>
                    <input class="mb-4 w-full" formControlName="sacPhone" id="sac-phone" pInputText type="tel"/>
                </div>
                <div class="col-12 pr-2 pl-2 mb-3">
                    <label class="block mb-1" for="description">Descrição</label>
                    <textarea class="w-full" formControlName="description" id="description" pInputTextarea
                              rows="2"></textarea>
                </div>

                <div class="col-2 md:col-4 md:col-offset-8 lg:col-2 lg:col-offset-10 col-offset-10 pt-0 pr-2">
                    <button (click)="updateCompany()" [disabled]="!companyForm.valid" class="p-button-rounded p-button-warning w-full" icon="pi pi-check"
                            label="Salvar"
                            pButton type="button"></button>
                </div>
            </div>
        </form>
    </p-card>
    <p-card class="flex mb-2">
        <div class="flex">
            <h2 class="traco flex-1">Responsáveis</h2>
        </div>
        <div *ngIf="isUserAdmin" class="grid grid-nogutter pl-2 pr-2">
            <div class="col-2 md:col-4 md:col-offset-8 lg:col-2 lg:col-offset-10 col-offset-10 pt-0 pb-3 pr-2">
                <button (click)="addHead()" class="p-button-rounded p-button-warning w-full" icon="pi pi-user-plus" label="Incluir responsável"
                        pButton type="button"></button>
            </div>
        </div>
        <div class="mr-3 ml-3">
            <p-table [styleClass]="'p-datatable-sm'" [value]="company.heads" dataKey="id" editMode="row">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template let-editing="editing" let-head let-ri="rowIndex" pTemplate="body">
                    <tr [pEditableRow]="head">
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input [(ngModel)]="head.name" pInputText type="text">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ head.name }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input [(ngModel)]="head.phone" pInputText required type="text">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ head.phone }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input [(ngModel)]="head.email" pInputText type="text">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ head.email }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <div class="flex align-items-center justify-content-center gap-1">
                                <button *ngIf="head.isAdmin" class="p-button-rounded p-button-text p-button-warning" disabled icon="pi pi-user"
                                        pButton
                                        pTooltip="Usuário administrador" tooltipPosition="top" type="button"></button>
                                <button (click)="onRowEditInit(head)" *ngIf="!editing && isUserAdmin" class="p-button-rounded p-button-warning ml-2" icon="pi pi-pencil"
                                        pButton pInitEditableRow
                                        type="button"></button>
                                <button (click)="removeHead(head)" *ngIf="!editing && isUserAdmin" class="p-button-rounded p-button-danger ml-1" icon="pi pi-trash"
                                        pButton
                                        type="button"></button>
                                <button (click)="onRowEditSave(head)" *ngIf="editing" class="p-button-rounded p-button-success ml-2 mr-2" icon="pi pi-check" pButton
                                        pSaveEditableRow
                                        type="button"></button>
                                <button (click)="onRowEditCancel(head, ri)" *ngIf="editing" class="p-button-rounded p-button-danger" icon="pi pi-times" pButton
                                        pCancelEditableRow
                                        type="button"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-card>
    <p-card class="flex">
        <div class="flex">
            <h2 class="traco flex-1">Alterar Senha</h2>
        </div>
        <div class="grid grid-nogutter pl-2 pr-2 pb-0">
            <div class="col-12 md:col-6 lg:col-4 pr-2 pl-2">
                <label class="block mb-1" for="senha-atual">Senha atual</label>
                <input [(ngModel)]="senhaAtual" class="mb-4 w-full" id="senha-atual" pInputText type="password"/>
            </div>
            <div class="col-12 md:col-6 lg:col-4 pr-2 pl-2">
                <label class="block mb-1" for="nova-senha">Nova senha</label>
                <input [(ngModel)]="newPassword" class="mb-4 w-full" id="nova-senha" pInputText type="password"/>
            </div>
            <div class="col-12 md:col-6 lg:col-4 pr-2 pl-2">
                <label class="block mb-1" for="repetir-senha">Repetir senha</label>
                <input [(ngModel)]="repetirSenha" class="mb-3 w-full" id="repetir-senha" pInputText type="password"/>
            </div>

            <div class="col-2 md:col-4 md:col-offset-8 lg:col-2 lg:col-offset-10 col-offset-10 pt-0 pr-2">
                <button (click)="changePassword()" class="p-button-rounded p-button-warning w-full" icon="pi pi-check" label="Salvar nova senha"
                        pButton type="button"></button>
            </div>
        </div>
    </p-card>
</div>